#general
.idea
npm-debug.log

#books
books

#client
client/node_modules
client/dist
client/test/temp
client/.sass-cache
client/app/bower_components
client/.tmp
client/test/bower_components/

#server
server/node_modules
server/dist
server/uploads