@import '../bower_components/bootstrap/dist/css/bootstrap.min.css';
@import '../bower_components/bootstrap-material-design/dist/css/roboto.css';
@import '../bower_components/bootstrap-material-design/dist/css/material-fullpalette.css';
@import '../bower_components/bootstrap-material-design/dist/css/ripples.css';

//project files
@import 'variables';

@import 'components/header';
@import 'components/footer';
@import 'components/login';
@import 'components/home';
@import 'components/book';

.container {
  padding-top: 10px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.col-centered {
  float:none;
  margin: 0 auto;
}


