$screen-sm-min: 768px;

$header-padding: 55px;
$header-padding-lg: 120px;
$header-padding-left: 160px;

$header-height: 50px;
$footer-height: 40px;

$content-padding: $header-height;
$container-padding: 10px;