.container {
  .row {
    .thumbnail {
      img {
        @media (min-width:769px) {
          height: 180px;
        }
      }
    }
  }
}

.caption {
  height: 170px;

  .description {
    height: 70%;
    overflow: hidden;
  }

  .buttons {
    height: 30%;
  }
}