.accordion {
    height: 100%;
}

.panel {
    margin-bottom: 1px;
    height: 40px;
    transition: 0.6s ease-in-out;
}

.panel.accordion-open {
    height: calc(100% - 80px);;
}

.panel-body {
    overflow: hidden;
    min-height: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.6s ease-in-out;
    padding: 0 15px;
    position: relative;
}

.panel-body.accordion-open {
    opacity: 1;
    min-height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    overflow-y: auto;
    padding: 15px;
}

.panel-heading {
    cursor: pointer;
    transition: 0.4s;
    background-color: $main-color;
}

.panel-heading.accordion-active, .panel-heading:hover {
    background-color: darken($main-color, 5%);
}

.panel-heading:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.panel-heading.accordion-active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
