.dictionary-pop-up {
  border: 1px solid grey;
  position: absolute;
  border-radius: 3px;
  background-color: white;

  //styles for accordion inside the popup
  @import 'accordion';

  //arrow selected word/phrase indicator
  .arrow {
      position: absolute;
      height: 100%;
  }

  .content-after {
      content: '';
      position: absolute;

      width: 0;
      height: 0;

      border: 10px solid;
  }

  .bottom-arrow {
      @extend .arrow;
      &:after {
          @extend .content-after;
          border-color: white transparent transparent transparent;
          top: 100%;
      }
  }

  .top-arrow {
      @extend .arrow;
      &:after {
          @extend .content-after;
          border-color: transparent transparent white transparent;

          top: -20px;
      }
  }
}
