<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail shadow-z-2">
        <img class="img-responsive" src="/static/{{name}}">
        <div class="caption">
            <div class="description">
                <h4>{{originalname}}</h4>
                <p>{{name}}</p>
            </div>
            <div class="buttons">
                <p>
                    <a href="#" class="btn btn-primary" role="button" id="open">
                        Open
                    </a>
                    <a href="#" class="btn btn-danger pull-right" role="button">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

