<div class="header shadow-z-1">
    <div class="header-left">
        <div class="navbar-brand">
            <span class="glyphicon glyphicon-globe"></span>
            <span id="title">{{title}}</span>
        </div>
    </div>
    <div class="header-middle">

    </div>
    <div class="header-right">

    </div>
</div>
