<div class="header-left">
    <div class="navbar-brand">
        <span class="glyphicon glyphicon-globe"></span>
	    <span>{{title}}</span>
    </div>
</div>
<div class="header-middle">

</div>
<div class="header-right">

</div>