<div class="row">
    {{#unless count}}
        <div class="row-fluid">
            <div class="span12 text-center">
                <h3>Sorry, you don't have any books in the library</h3>
            </div>
        </div>
    {{/unless}}
</div>
