<div class="welcome center-block">
    <div class="login-header">
        <h3>Please log in, and enjoy your new learning experience</h3>
    </div>
</div>

<div class="login">
	<form class="navbar-form shadow-z-3" id="login" action="login" method="POST" role="form">
		<div class="input-group">
			<span class="input-group-addon">@</span>
			<input type="text" class="form-control" name="email" placeholder="email" required="true">
		</div>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-user"></span>
			<input type="text" class="form-control" name="password" placeholder="password" required="true">
		</div>
        <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>