<div class="welcome center-block">
    <div class="">
        <h3>Please log in, and enjoy your new learning experience</h3>
    </div>
</div>

<div class="login">
	<form class="navbar-form">
		<div class="input-group">
			<span class="input-group-addon">@</span>
			<input type="text" class="form-control" placeholder="email">
		</div>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-user"></span>
			<input type="text" class="form-control" placeholder="password">
		</div>
	</form>
</div>