<div class="container">
    <div class="row">
        <div class="col-md-6 col-centered">
            <h1 class="text-center">Read books everywhere</h1>
            <h3 class="text-center">Upload your favorite book</h3>
            <h4 class="text-center">Read</h4>
            <h4 class="text-center">Translate</h4>
            <h4 class="text-center">Learn</h4>
            <form class="dropzone">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </form>
        </div>
    </div>
</div>