<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-push-6">

        </div>
        <div class="col-md-6 col-md-pull-6">
            <h1>Read books everywhere</h1>
            <h3>Upload your favorite book</h3>
            <h4>Read everywhere</h4>
            <h4>Translate on the fly</h4>
            <h4>Listen to pronunciation</h4>
            <div class="upload-form">
                <form class="upload-form form-inline" action="upload">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse&hellip; <input type="file" multiple>
                            </span>
                        </span>
                            <input type="text" class="form-control" readonly>

                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>