<div class="dropdown">
    <button type="button" class="btn-primary navbar-toggle" data-toggle="dropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <button type="button" class="btn btn-primary hidden-xs"  data-toggle="dropdown">Menu
        <span class="caret"></span></button>

    <ul class="dropdown-menu dropdown-menu-right">
        <li><a data-value="/" href="#">Home</a></li>
        <li><a data-value="library" href="#">Library</a></li>
    </ul>
</div>